{% extends 'admin/admin_home.html' %}
{% block body %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form action="" method="get">
    <table class="table table-bordered">
  <tr>
    <th scope="col">#</th>
    <th scope="col">User Name</th>
    <th scope="col">complaint</th>
    <th scope="col">date</th>
    <th scope="col"></th>
{#    <th scope="col">r_date</th>#}
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ loop.index }}</td>
    <td>{{ i['name'] }}</td>
    <td>{{ i['complaint'] }}</td>
    <td>&nbsp;{{ i['complaint_date'] }}</td>
    <td><a href="/sent_reply/{{ i['complaint_id'] }}">Reply</a> </td>
{#    <td>&nbsp;</td>#}
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
{% endblock %}